* { 
    margin: 0; 
    padding: 0;
}

body {
    background: #87ceeb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

p { 
    position: absolute;
    transition: all ease 500ms;
}

/* 
    - Clouds are courtesy of https://codepen.io/Mark_Bowley/pen/xEbuI
    - I've cleaned up the code a little.... can't have you looking at sub-optiimal CSS!
    - I've also removed all of the vendor prefixes. More on that at a later date.
*/
.background-wrap {
    bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */
@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */
.x1 {
	animation: animateCloud 35s linear infinite;
	transform: scale(0.65);
}

.x2 {
	animation: animateCloud 20s linear infinite;
	transform: scale(0.3);
}

.x3 {
	animation: animateCloud 30s linear infinite;
	transform: scale(0.5);
}

.x4 {
	animation: animateCloud 18s linear infinite;
	transform: scale(0.4);
}

.x5 {
	animation: animateCloud 25s linear infinite;
	transform: scale(0.55);
}

.cloud {
	background: #fff;
	border-radius: 100px;
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	border-radius: 100px;
	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	border-radius: 200px;
	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}
